<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/myStyle.css"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h3>Client List</h3>
                <% if (users.length) { %>
                <% for (var i in users) { %>
                <ul class="list-group-item">
                    <a href="/users/<%= users[i].username %>"><%= users[i].name %></a>
                    <a href="/users/<%= users[i].job %>"><%= users[i].job %></a>
                    <a href="/users/<%= users[i].email %>"><%= users[i].email %></a> 
                </ul>
                <% } %>
                <% } else { %>
                <p>Add Clients</p>
                <% } %>
                
            </div>
        </div>
        <form action="/users" method="POST">

            <p>
            <label>Name</label>
            <input type="text" id="name" name="name" value="" />
            </p>

            <p>
            <label>Email</label>
            <input type="text" id="email" name="email" value="" />
            </p>

            <p>
            <label>Job</label>
            <input type="text" id="job" name="job" value="" />
            </p>

            <button>Create</button>

        </form>

    </body>
</html>