<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/myStyle.css"/>
        <script src="/js/jquery-1.12.2.min.js"></script>
    </head>
    <body>
        <script> 
        $(document).ready(function(){
            $("#flip").click(function(){
                $("#panel").slideToggle("slow");
            });
        });
        </script>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"><img class="logo" src="/img/coco-cafe-logo.jpg"/></div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3>Client List</h3>
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            Name
                            <a href="/users/new"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        
                            <% if (users.length) { %>
                            <% for (var i in users) { %>
                
                        <div id="flip" class= "list-group">
                            <li class="list-group-item">
                                <a href="/users/<%= users[i].identity %>"><%= users[i].identity %></a>
                                <a href="/users/<%= users[i].name %>"><%= users[i].name %></a>
                                <a href="/users/<%= users[i].job %>"><%= users[i].job %></a>
                                <a href="/users/<%= users[i].email %>"><%= users[i].email %></a>
                                <a href="/users/<%= users[i].coffee %>"><%= users[i].coffee %></a>
                                <a href="/user/delete/<%= users[i].identity %>"><span class="glyphicon glyphicon-trash"></span></a>
                            </li>
                        </div>
                        <div id="panel">Hello World</div>
                   
                            <% } %>
                            <% } else { %>
                            <p>Add Clients</p>
                            <% } %>
                     </div>
                </div>
                <div class="col-md-1 side-bars"></div>
            </div>
        </div>
    </body>
</html>